@import "tailwindcss";

:root {
  --primary: hsl(220, 68%, 42%);
  --primary-light: hsl(220, 68%, 62%);
  --secondary: hsl(218, 18%, 79%);
  --secondary-dark: hsl(218, 18%, 59%);

  --font-basic: 14px;

  --text-primary: white;
  --text-via: rgb(217, 236, 127);
  --text-secondary: black;

  --gray-100: rgb(227, 227, 227);
  --gray-800: rgb(56, 56, 56);
  --gray-900: rgb(18, 18, 18);
  --text-color--dark: rgb(164, 164, 164);
  --text-color--light: rgb(67, 67, 67);

  /* // subtitle : 700 24px gray-100) | light ->  black  */
}

[data-theme="light"] {
  --bg-color: white;
  --title-color: var(--gray-900);
  --text-color: var(--text-color--light);
  --border-color: var(--gray-100);
}

[data-theme="dark"] {
  --bg-color: var(--gray-900);
  --title-color: var(var(--gray-100));
  --text-color: var(--text-color--dark);
  --border-color: var(--gray-800);
}

@theme {
}

body {
  font-family: "Inter";
  background-color: var(--bg-color);
  color: var(--text-color);
}

@layer components {
  /* Typography  */
  .app-hero {
    @apply text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[var(--text-secondary)] via-[var(--text-via)] to-[var(--text-secondary)];
  }

  .app-title {
    @apply text-3xl font-bold text-gray-800;
  }

  .app-subtitle {
    @apply text-xl font-semibold text-gray-800;
  }

  .app-text {
    @apply text-gray-800 text-sm;
  }

  .app-label {
    @apply mb-1 text-sm font-medium;
  }

  .app-text-error {
    @apply bg-red-100 text-red-600 text-sm p-2 mb-4 rounded;
  }

  /* Buttons  */
  [class*="app-button"] {
    @apply text-sm py-3 px-8 rounded-xl transition-all cursor-pointer shadow-md;
  }

  .app-button-primary {
    @apply bg-[var(--primary)] hover:bg-[var(--primary-light)] text-[var(--text-primary)];
  }

  .app-button-secondary {
    @apply bg-[var(--secondary)] hover:bg-[var(--secondary-dark)] text-[var(--text-secondary)];
  }

  .app-circle-button {
    @apply p-2 rounded-full cursor-pointer transition bg-[var(--border-color)];
  }

  /* Inputs  */
  .app-input {
    @apply border rounded-xl px-3 py-2 outline-none focus:ring-2 focus:ring-blue-500;
  }

  /* Containers  */
  .app-card {
    @apply bg-gray-50 p-4 shadow-md rounded-xl;
  }

  .app-cta-container {
    @apply flex flex-row gap-1;
  }
}
